<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #img_div
        {
            text-align: center;
        }
        .heading
        {
            text-align:center;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 30px;
            color: black;

        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Does not Exist</title>
</head>
<body>
    <div id="img_div" >
        <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710374400&semt=sph" alt="this page does not exist">

        <h1 class="heading">The Page {{name}} has not yet been added.</h1>

        <a href="{encyclopedia/add}">Contribute To WikiBihar by making the Page {{name}}</a>

    </div>

    
    
</body>
</html>